.backButton {
  position: absolute;
  background: black;
}

.sidebar {
  background-color: black;
}

.boardContainer{
  height: 100%;
  width: 100%;
}

.squareContainer{
  margin-top: 100px;
  height: 500px;
}
