.container{
  width: 100%;
  height: 55%;
  background-color: #232630;
  /*margin-top: .1em;*/
  overflow-y: scroll;
  overflow-x: hidden;
}
.listContainer{
  width: 100%;
  height: 45%;
  background-color: #232630;
  /*margin-bottom: .5em;*/
  overflow-y: scroll;
  overflow-x: hidden;
}
.header{
  background-color: #282c36;
  border: 1px solid #1a1d23;
  border-right: none;
  border-left: none;
  min-height: 30px;
  margin-top: .5em;
  position: relative;
}

.title {
  position: absolute;
  bottom: 3px;
  left: 15px;
  font-size: 14px;
  color: #8f9197;
  text-align: left;
}
